<div
	style='height: 100%; min-height: 100vh; background: url(./images/Book-video.jpg) no-repeat center center; top: 0; background-size: cover;'">

	<div flex layout="column" layout-align="center center"
		style="padding-top: 50px;">
		<h1 layout="row" class="md-display-1"
			style="text-align: center; color: rgba(0, 0, 0, 0.5); font-weight: 700;">
			Search, exchange and grow.</h1>
		<h2 layout="row" class="md-headline"
			style="text-align: center; color: rgba(0, 0, 0, 0.5); font-weight: 500;">
			Find the best book near you!</h2>
	</div>

	<div layout="row" layout-align="center center" ng-show="!$root.userData.user.profile.firstName">
		<md-card layout="column" class="md-padding" flex="30" flex-sm="70"
			flex-xs="100" style="opacity:0.9;"> <md-card-content>
		<form name="loginForm" ng-submit="login()" action="">
			<md-input-container layout="column" flex class="md-block">
			<label>Username or Email</label> <input ng-maxlength="100" required
				name="username" ng-model="loginData.username">
			<div ng-messages="loginForm.username.$error"
				ng-show='loginForm.username.$touched'>
				<div ng-message="required">This is required.</div>
			</div>
			</md-input-container>
			<md-input-container layout="column" flex class="md-block">
			<label>Password</label> <input required name="password"
				type="password" ng-model="loginData.password">
			<div ng-messages="loginForm.password.$error"
				ng-show='loginForm.password.$touched'>
				<div ng-message="required">This is required.</div>
			</div>
			</md-input-container>
			<md-input-container style="padding:0;margin:0;" layout="row" class=""
				layout-align="">
			<div flex="50">
				<md-checkbox ng-model="loginData.cook" aria-label="Checkbox 1">
				Remember me</md-checkbox>
			</div>
			<md-button style="padding:0;margin:0;top:0;" flex
				class="md-primary md-raised" ng-click="login()"
				ng-disabled="loginForm.$invalid"> Sign In </md-button> </md-input-container layout-align="center center">
			<label>Not a member?</label>
			<div ng-if="err" style="color: #f44336">{{err}}</div>
			<md-input-container style="padding:0;margin:0;">

			<md-button class="md-warn" style="text-transform:none"
				ng-href="/register">Sign Up</md-button>
				
				 </md-input-container>
				 
				 
			<md-button class="md-primary md-raised" 
				href="/auth/facebook?redirect=%2Fprofile" target="_self" ng-click="fbLogin()"><md-icon ><i class='fa fa-facebook'></i></md-icon>
				Sign in</md-button>	
				
		</form>
		</md-card-content>
		 </md-card>

	</div>
	
	
	<h1 style="text-align: center;">

		<img src="images/logo2.png" style="height: 75px; width: auto;" alt="">
	</h1>
	<!--  ng-show="$root.userData.user.profile.firstName" -->
		<div layout="row"  ng-controller="ShowbookController" ng-show="$root.userData.user.profile.firstName">
		<md-card layout="column" flex="25" style="opacity:0.9;" ng-repeat="book in book_repo">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{book.name}}</span>
            <span class="md-subhead">
           {{book.detail}}
            </span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" >
            <img src="{{book.cover}}" alt="{{book.name}}" style="border-radius: 50%;width: 150px;height: 150px;">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class='md-primary' href="" target="_blank">View Book</md-button>
        </md-card-actions>
      </md-card>
	</div>

</div>

<div
	style="height: 100%; min-height: 100vh; background: url('./images/Book.jpg') no-repeat center center fixed; top: 0; background-size: cover;"
	layout="column" layout-align="center center ">
	<object width="600" height="340"
		data="http://www.youtube.com/embed/3yaZG-BrgxE"> </object>
	<div layout="row">
		<md-fab-trigger ng-repeat="it in aboutIcons"> <md-button
			aria-label="menu" class="md-fab md-warn"> <md-icon
			class="material-icons">{{it.icon}}</md-icon> </md-button>
		<p class="md-heading-1" style="text-align: center; color: #f7f7f7">{{it.name}}</p>
		</md-fab-trigger>
	</div>
</div>

