<div flex layout="column" style="height:100%;min-height:100vh;padding-top:40px; top:0;background:#e9e9e9; background-size: cover;background-repeat: no-repeat; background-position: center center;">
<!--  <div style="position: absolute;z-index:0;">
<img src="https://pixabay.com/static/uploads/photo/2014/09/05/18/32/old-books-436498_960_720.jpg" alt="cover" style=""></img>
	 <div style="position:absolute;z-index:1;">-->

	

<div style="background:url(https://pixabay.com/static/uploads/photo/2014/09/05/18/32/old-books-436498_960_720.jpg);height:300px;width:100%;padding-top:25px;">
		
		
		<img src="images/tushar.jpg" alt="profile_pic" style="margin-top:150px;height:150px;width:150px;position:relative"></img>
		
</div>
<div class='md-padding' layout="row" layout-wrap>
<div flex flex-xs="">
 <md-content style="background-color:transparent">
    <div flex>
      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">User's Book</span>
            
          </md-card-title-text>
 	 </md-card-title>
        <md-card-content>
        <md-list>
      <md-subheader class="md-no-sticky">Books in repository</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="book in book_repo">
        <img ng-src="{{book.cover}}?20" style="height:50px;width:50px;" class="md-avatar" alt="book_cover" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ book.name }}</h3>
          <h4>{{ book.detail }}</h4>
          
        </div>
      </md-list-item>
      </md-list>
        </md-card-content>
      </md-card>
</div>
</md-content>
</div>
<div flex flex-xs="">
 <md-content style="background-color:transparent">
    <div flex>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> Book Requests</span>
        
        
          </md-card-title-text>
        </md-card-title>
          <md-card-content>
        <md-list>
      <md-subheader class="md-no-sticky">Status : Pending</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="book in request">
        <img ng-src="{{book.cover}}?20" style="height:50px;width:50px;" class="md-avatar" alt="book_cover" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ book.name }}</h3>
          <h4>{{ book.detail }}</h4>
          
        </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-subheader class="md-no-sticky">Status : Accepted</md-subheader>
      
      <md-list-item class="md-3-line" ng-repeat="book in accept">
        <img ng-src="{{book.cover}}?20" style="height:50px;width:50px;" class="md-avatar" alt="book_cover" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ book.name }}</h3>
          <h4>{{ book.detail }}</h4>
          
        </div>
      </md-list-item>
      </md-list>
        </md-card-content>
      </md-card>
</div>
</md-content>
</div>
</div>
</div>
