<!-- Temporary Please delete if you need to use it -->
<div style="min-height:100vh;height:auto;height:100%;">
<md-content class="md-padding" style="background:transparent;padding-top:50px;" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Temporary</span>
            <span class="md-subhead">Please delete it</span>
          </md-card-title-text>
          <md-card-title-media layout-align="center center">
            
            	<h1 class="md-heading-1">Welcome User! You have logged in!</h1>
            
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Ok</md-button>
          <md-button>Cancel</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
  </div>