<div style="height:100%;min-height:100vh;background: url(./images/Book-video.jpg) no-repeat center center; top:0; padding-top:100px; background-size: cover;"">

	
<div layout="row" layout-align="center center">
<md-card   layout="column" class="md-padding" flex="30" flex-sm="70" flex-xs="100" style="opacity:0.9;">
	</br></br>	<h2 layout="row" class="md-headline" style="text-align:center;color:rgba(0,0,0,0.5);font-weight:500;">
			Register	
	</h2>
		<md-card-content>
			<form name="registerForm" ng-submit="Register()">
				<md-input-container layout="column"  flex class="md-block">
					<label>Username or Email</label> 
					<input ng-maxlength="100" required name="username" ng-model="registerData.username">
					<div ng-messages="registerForm.username.$error" ng-show='registerForm.username.$touched'>
						<div ng-message="required">This is required.</div>
					</div>
					</md-input-container>
					<md-input-container layout="column"  flex class="md-block">
					<label>Firstname</label> 
					<input ng-maxlength="100" required name="Firstname" ng-model="registerData.firstName">
					<div ng-messages="registerForm.Firstname.$error" ng-show='registerForm.Firstname.$touched'>
						<div ng-message="required">This is required.</div>
					</div>
					</md-input-container>
					<md-input-container layout="column"  flex class="md-block">
					<label>Lastname</label> 
					<input ng-maxlength="100" required name="Lastname" ng-model="registerData.lastName">
					<div ng-messages="registerForm.Lastname.$error" ng-show='registerForm.Lastname.$touched'>
						<div ng-message="required">This is required.</div>
					</div>
					</md-input-container>
					<md-input-container layout="column"  flex class="md-block">
					<label>Password</label> 
					<input type="password" id="pw1" ng-minlength="6" ng-maxlength="100" required name="password"  ng-model="registerData.password">
					<div ng-messages="registerForm.password.$error" ng-show='registerForm.password.$touched'>
						<div ng-message="required">This is required.</div>
						<div ng-message="minlength">Too Short! Must be atleast six characters.</div>
					</div>
					</md-input-container>
					<md-input-container layout="column"  flex class="md-block">
					<label>Confirm Password</label> 
					<input type="password" id="pw1" ng-minlength="6" ng-maxlength="100" required name="Confirmpassword"  ng-model="registerData.confirmPassword">
					<div ng-messages="registerForm.Confirmpassword.$error" ng-show='registerForm.Confirmpassword.$touched'>
						<div ng-message="required">This is required.</div>
						<div ng-message="minlength">Too Short! Must be atleast six characters.</div>
					</div>
						<div ng-show="err" style="text-align:center;color:red;">Password Not Matching!!</div>
					</md-input-container>
		<!--			<md-input-container layout="column"  flex class="md-block">
					<label>Phone number</label> 
					<input  name="Phonenumber" ng-model="registerData.phoneNumber" 
       ng-pattern="/0-9/" required ng-minlength="1" >
        
 <div ng-messages="registerForm.Phonenumber.$error" ng-show='registerForm.Phonenumber.$touched'>
  <div ng-message="required">This field  required</div>
  <div ng-message="pattern">Must be a valid 10 digit phone number</div>
 </div>-->
 
				
					</md-input-container>
					<md-input-container style="padding:0;margin:0;" layout="row" class="" layout-align="left">
				<div flex="50">
				</div>
				<md-button  style="padding:0;margin:0;top:0;"  flex class="md-primary md-raised" ng-click="Register()">
   							Sign Up
   					</md-button>
   				
   										</md-input-container layout-align="left">
					
</div>
</div>