footer {
	background-color: #303F9F;
}

* {
	font-family: Roboto;
}

.autocomplete-custom-template li {
	border-bottom: 1px solid #ccc;
	height: auto;
	padding-top: 2px;
	padding-bottom: 8px;
	white-space: normal;
}

.autocomplete-custom-template li:last-child {
	border-bottom-width: 0;
}

.autocomplete-custom-template .item-title, .autocomplete-custom-template .item-metadata
	{
	/*display:block*/
	line-height: 2;
}


.autocomplete-custom-template .item-title md-icon {
	height: 18px;
	width: 18px;
}
.selected{
	background:#fcfcfc;
}
.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }

.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }

.gridListdemoBasicUsage .green {
  background: #b9f6ca; }

.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }

.gridListdemoBasicUsage .blue {
  background: #84ffff; }

.gridListdemoBasicUsage .purple {
  background: #b388ff; }

.gridListdemoBasicUsage .red {
  background: #ff8a80; }

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/