<section layout="column" ng-controller="SidenavController">
	<md-sidenav flex-gt-sm style="position:fixed"
		class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
		layout="column" md-is-locked-open="$mdMedia('')"> <md-toolbar
		class="md-theme-indigo md-tall">
	<h1 style="margin-left: 16px;">
		<img src="./images/logo2.png" style="height: 40px; width: auto;">
	</h1>
	<p style="font-size: 13px; margin-left: 16px;">bookbarterindia@gmail.com</p>
	</md-toolbar> <md-list> <md-subheader class="md-no-sticky">General</md-subheader>
	<md-list-item href="{{it.href}}" ng-repeat="it in sidenavItems"
		ng-click="select(it)" ng-class="{'selected' : it === selected }">
	<md-icon class="material-icons">{{it.icon}}</md-icon>
	<p>{{ it.name }}</p>
	</md-list-item> </md-list> </md-sidenav>
</section>
